* {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  display: flex;
}

.nav {
  text-decoration: underline;
  margin: 10px;
}

.nav a {
  margin: 30px;
  font-size: 1.2rem;
}

.nav a:hover {
  color: rgb(235, 95, 8);
}

.top {
  background-image: url("bgimage.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 700px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top h2 {
  margin: none;
  font-size: 3rem;
}

.top h4 {
  margin: none;
  font-size: 1.2rem;
}
