* {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  max-width: 100%;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  display: flex;
}

.nav {
  text-decoration: underline;
  margin: 10px;
}

.nav a {
  margin: 30px;
  font-size: 1.2rem;
}

.nav a:hover {
  color: rgb(235, 95, 8);
}

.top {
  background-image: url("bgimage.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 700px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top h2 {
  margin: none;
  font-size: 3rem;
}

.top h4 {
  margin: none;
  font-size: 1.2rem;
}

.mid {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.midImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bot {
  background-image: url("locations.jpg");

  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: center;
  flex-direction: row;
}

.loc {
  text-align: center;
  font-size: 2rem;
}

.address1,
.address2,
.address3 {
  margin: auto;
  opacity: 0.8;
  width: 300px;
  height: 300px;
}

.foot {
  text-align: center;
}
